body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: default;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(80, 80, 80, .3);
    color: white;
    z-index: 4;
}
.header-logo{
    margin: 0 0 0 2rem;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.header-nav{
    display: flex;
}
.header-nav-item{
    margin: 0 2rem 0 2rem;
    cursor: pointer;
}
.firstlook{
    width: 100%;
    height: 100vh;
}
.firstlook-container{
    width: 100%;
    height: 100%;
}
.firstlook-background{
    width: 100%;
    height: 70%;
}
.firstlook-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.firstlook-nav{
    width: 100%;
    height: 30%;
    position: relative;
}
.firstlook-nav-container{
    position: absolute;
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
}
.firstlook-nav-row{
    width: 90%;
    height: 100%;
}
.firstlook-nav-col{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstlook-nav-col-item{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.firstlook-nav-col-item-img{
    width: 100%;
    height: 100%;
}
.firstlook-nav-col-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.firstlook-nav-col-glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(80, 80, 80, .3);
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    transform: translateY(100%);
    transition: all .4s ease;
    display: flex;
    justify-content: center;
}
.firstlook-nav-col-glass-i{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}
.firstlook-nav-col-item:hover .firstlook-nav-col-glass{
    transform: translateY(0);
}
.firstlook-nav-col-item:hover .firstlook-nav-col-item-title{
    opacity: 0;
}
.firstlook-nav-col-item-title{
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(220, 220, 220);
    font-size: 20px;
    padding: .5rem;
    transition: all .4s ease;
}
.wrapper{
    width: 100%;
    height: 500px;
    background: pink;
}































































/* RES */
@media screen and (max-width: 1550px) {
    .firstlook-nav-row{
        width: 100%;
    }
}
@media screen and (max-width: 1350px) {
    .firstlook-nav-container{
        height: 450px;
    }
}
@media screen and (max-width: 1200px) {
    .firstlook-nav-container{
        height: 430px;
    }
}
@media screen and (max-width: 991px) {
    .firstlook-nav-container{
        transform: translateY(-55%);
    }
    .firstlook-nav-col{
        height: 55%;
    }
    .firstlook-nav-col-item{
        width: 90%;
        height: 90%;
    }
    .firstlook-nav-col-glass-i{
        height: 25%;
    }
}
@media screen and (max-width: 576px) {
    .firstlook-nav-col-item{
        width: 95%;
    }
    .header-nav-item{
        margin: 0 1rem 0 1rem;
    }
}
@media screen and (max-width: 499px) {
    .header-logo{
        margin: 0 0 0 1rem;
    }
    .header-nav-item{
        margin: 0 .5rem 0 .5rem;
    }
}